.contenedor{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
}

.caja-1{
    background-color: blue;
    font-size: 85px;
    color : white;
    flex-basis: 900px;
    flex-grow: 1;
    flex-shrink: 1;
    flex:900px 1 1;
}
.caja-2{
    background-color: red;
    font-size: 85px;
    color : white;
    flex-basis: 900px;
    flex-grow: 2;
    flex-shrink: 2;
    flex:900px 1 1;
}
.caja-3{
    background-color: orange;
    font-size: 85px;
    color : white;
    flex-basis: 900px;
    flex-grow: 1;
    flex-shrink: 1;
    flex:900px 1 1;
}
.caja-4{
    background-color: purple;
    font-size: 85px;
    color : white;
    flex-basis: 900px;
    flex-shrink: 1;
    flex:900px 1 1;
}
.caja-5{
    background-color: lightcoral;
    font-size: 85px;
    color : white;
    flex-basis: 900px;
    flex-shrink: 1;
    flex:900px 1 1;
}
.caja-6{
    background-color: yellow;
    font-size: 85px;
    color : white;
    flex-basis: 900px;
    flex-shrink: 1;
    flex:900px 1 1;
}